body {
	height: 100%;
	width: 100%;
}

.main-wrap {
	display: flex;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.main-wrap .main-menu {
	background: #cccccc;
	height: 100%;
	flex: 1 1 20vw;
	transition: margin 0.80s ease;
	width: 20vw;
}

.main-wrap .main-menu.shut {
	margin-left: -39vw;
}


.main-wrap .main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-wrap .main-menu ul li {
	margin: 0;
	padding: 0 0.25em 0.25em 0.25em;
}
.main-wrap .main-menu ul li:hover {
	background-color: #00770055;
}

.main-wrap .main-body {
	height: 100%;
	flex: 1 1 80%;
	margin: 0;
	padding: 0.25rem;
	width: 80%;
}


/**
 * MediaWiki Item Over-rides
 */

.emptyPortlet {
	display: none;
}

#p-namespaces {
}
#p-namespaces .mw-portlet-body,
#p-views .mw-portlet-body {
	display: inline-block;
}
#p-namespaces h3,
#p-views h3 {
	display:none;
}
#p-namespaces ul,
#p-views ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#p-namespaces ul li,
#p-views ul li {
	border-bottom: solid 3px #0000;
	display: inline-block;
	list-style: none;
	margin: 0.25em 1em 1em 0;
}
#p-namespaces ul li.selected,
#p-views ul li.selected {
	border-bottom-color: #08d;
}
